*{
  padding:0;
  margin:0;
  box-sizing: border-box;

}
.content{
  height:100vh;

}

.register-page{
  display:flex;
  align-items:center;
  justify-content: center;
  height:90vh;
}
/**transaction page*/
.filters{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:15px 20px;
  box-shadow:0 0 3px gray;
  



}
.navbar{
  width:100vw;

}
.adjuster{
  width:100vw;
  display:flex;
  justify-content: space-between;
}
/* antd icons */
.anticon svg{
  font-size: 20px;
  cursor:pointer;

}
.active-icon{
  color:green;
}
.inactive-icon{
  color:gray;
}
.switch-icons{
  border:1px solid black;
  border-radius:5px;
  padding:10px 15px;

}